<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
                xmlns:android="http://schemas.android.com/apk/res/android"
                id="com.alejandro.omYouTube"
                version="0.1.0">
    <engine>
        <engine name="cordova" version=">=3.0.0" />
    </engine>

    <name>VideoPlayer</name>
    <description>Play YouTube videos</description>
    <author>Various</author>
    <license>MIT</license>

    <feature name="YoutubeVideoPlayer">
        <param name="android-package" value="com.alejandro.omYouTube" />
    </feature>

    <js-module src="www/YoutubeVideoPlayer.js" name="YoutubeVideoPlayer">
        <clobbers target="YoutubeVideoPlayer" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="YoutubeVideoPlayer">
                <param name="android-package" value="com.alejandro.omYouTube" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>


        <!-- This is not correct TODO ALEJANDRO -->
        <source-file src="src/com.alejandro.omYouTube/YoutubeVideoPlayer.java" target-dir="src/com/alejandro/omYouTube" />
    </platform>

</plugin>